page-home {
    .feed-header {
        font-weight: bold !important;
    }
    .feed-header {
        font-weight: bold !important;
    }
    .feed-icon-text {
        color: black;
    }
    .feed-org-name {
        font-weight: bolder !important;
        font-size: 1.5rem !important;
        white-space: normal !important;
    }
    .title {
        text-align: center;
    }
    .scroll-content {
        padding-left: 5px !important;
        padding-right: 0px !important;
    }
}